@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
body{
    min-height: 100vh;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;   background: url(../images/pattern-background-mobile.svg)no-repeat,hsl(225, 100%, 94%);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img {
    width: 100%;
    border-radius: 30px 30px 0 0;
}
.container {
    width: 330px;
    height: 581px;
    background: #fff;
    border-radius: 30px;
}
h1 {
    margin: 0;
    text-align: center;
    padding-top: 20px;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 26px;
}
p {
    margin: 0;
}
.copy p {
    text-align: center;
    padding: 20px 28px 51px; 
    font-weight: 700;
    line-height: 28px;
    color: hsl(223, 8%, 44%);
}
.plan-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
p.sub-heading {
    font-weight: 900;
    margin-bottom: 7px;
}
p.price{
    color: hsl(223, 8%, 44%);
    font-weight: 700;
}
.plan-link a {
    font-weight: 700;
    color: hsl(245, 75%, 52%);
}
.cta {
    text-align: center;
    margin-top: 33px;
}
.plan-cta {
    background: hsl(245, 75%, 52%);
    width: 281px;
    height: 49px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 12px 36px hsl(224, 23%, 55%);
}
.plan-cta a {
    text-align: justify;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.plan-cta-cancel {
    margin-top: 17px;
}
.plan-cta-cancel a {
    text-decoration: none;
    font-weight: 900;
    color: hsl(224, 23%, 55%);
}
.plan-icon {
    display: flex;
}
.plan-heading {
    padding-left: 19px;
}
/* deskop */
@media screen and (max-width: 1360px) {
    .container {
        width: 330px;
        height: 538px;
    }
    .plan-cta {
        width: 291px;
    
    }
    .copy p {
        padding: 19px 18px 39px;
        line-height: 26px;
        font-weight: 500;
    }
    .cta {
        margin-top: 43px;
    }
    
.plan-cta-cancel {
    margin-top: 8px;
}
}
/* large screens */
@media screen and (min-width: 1400px) {
    body{
        min-height: 100vh;
        font-size: 16px;
        font-family: 'Red Hat Display', sans-serif;   background: url(../images/pattern-background-desktop.svg)no-repeat,hsl(225, 100%, 94%);
        background-size: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container {
        width: 454px;
        height: 710px;
    }
    .copy p {
        padding: 20px 38px 52px;
        font-size: 19px;
    }
    .plan-info {
        padding: 0 51px;
    }
    .plan-cta {
        width: 357px;
    }
}